body {
  font-family: system-ui, sans-serif;
  margin: 0;
  background-color: lightblue;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  /* color: transparent; */
}

.sqr {
  display: flex;
  order: 5;

  width: 15%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 15px;
  align-items: center;
  justify-content: space-around;
  /* //background-color: green; */
}

.type1 {
  background: red;
}
.type2 {
  background: green;
}
.type3 {
  background: yellow;
}
.type4 {
  background: blue;
}
.type5 {
  background: orange;
}
